.grid-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	width: 500px;
	height: 500px;
	border: solid black;
	padding: 0px;
	margin: 24px;
}

#align {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}
